<h1 class="tisch-title">Dice Signals</h1>
<div class="dice-container">
  <button (click)="onRollTheDice()">Roll the Dice!</button>
  <span>Throw #: {{ throwNo() }}</span>
</div>
<div class="dice-container">
  <!-- Todo Add the input and output properties to the cube components -->
  <!-- Input: cubeNumber -->
  <!-- Input: throwNo -->
  <!-- Output: should call onCubeChange() -->
  <app-cube></app-cube>
  <app-cube></app-cube>
  <app-cube></app-cube>
  <app-cube></app-cube>
  <app-cube></app-cube>
</div>
