<h1 class="tisch-title">Dice Signals</h1>
<div class="dice-container">
  <button (click)="onRollTheDice()">Roll the Dice!</button>
  <span>Throw #: {{ throwNo() }}</span>
</div>
<div class="dice-container">
  <app-cube
    [cubeNumber]="1"
    [throwNo]="throwNo()"
    (cubeChangeOutput)="onCubeChange($event)"
  ></app-cube>
  <app-cube
    [cubeNumber]="2"
    [throwNo]="throwNo()"
    (cubeChangeOutput)="onCubeChange($event)"
  ></app-cube>
  <app-cube
    [cubeNumber]="3"
    [throwNo]="throwNo()"
    (cubeChangeOutput)="onCubeChange($event)"
  ></app-cube>
  <app-cube
    [cubeNumber]="4"
    [throwNo]="throwNo()"
    (cubeChangeOutput)="onCubeChange($event)"
  ></app-cube>
  <app-cube
    [cubeNumber]="5"
    [throwNo]="throwNo()"
    (cubeChangeOutput)="onCubeChange($event)"
  ></app-cube>
</div>
<div class="result-container">
  <table>
    <tr>
      <th>Category</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>Ones</td>
      <td>{{ ones() }}</td>
    </tr>
    <tr>
      <td>Twos</td>
      <td>{{ twos() }}</td>
    </tr>
    <tr>
      <td>Threes</td>
      <td>{{ threes() }}</td>
    </tr>
    <tr>
      <td>Fours</td>
      <td>{{ fours() }}</td>
    </tr>
    <tr>
      <td>Fives</td>
      <td>{{ fives() }}</td>
    </tr>
    <tr>
      <td>Sixes</td>
      <td>{{ sixes() }}</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Category</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>Three of a Kind</td>
      <td>{{ threeOfAKind() }}</td>
    </tr>
    <tr>
      <td>Four of a Kind</td>
      <td>{{ fourOfAKind() }}</td>
    </tr>
    <tr>
      <td>Full House</td>
      <td>{{ fullHouse() }}</td>
    </tr>
    <tr>
      <td>Small Straight</td>
      <td>{{ smallStraight() }}</td>
    </tr>
    <tr>
      <td>Large Straight</td>
      <td>{{ largeStraight() }}</td>
    </tr>
    <tr>
      <td>Jackpot</td>
      <td>{{ jackpot() }}</td>
    </tr>
    <tr>
      <td>Chance</td>
      <td>{{ chance() }}</td>
    </tr>
  </table>
</div>
